@{
    ViewBag.Title = "Контакты";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<address>
    <br />
    <img src="@("/Images/Employees/Sviderskaya.jpg")" width="90" height="110" alt="Image"/>
    Свидерская Ирина Викторовна <br/>
    e-mail: ISviderskaya@sfu-kras.ru<br/>
    телефон: +7 (391) 206-21-65<br/>
    телефон: +7 (391) 206-23-07<br/>
    адрес: пр. Свободный, 79, корпус № 3, ауд. 32-13 <br/>
    степень: кандидат биологических наук <br/>
    Место работы: <br/>
    Институт фундаментальной биологии и биотехнологии, заместитель директора;
    Кафедра биофизики, доцент.<br/>
  </address>

<address>
    <br/>
    <img src="@("/Images/Employees/Fedotov.jpg")" width="60" height="60" alt="Image"/>
    Федотов Даниил Александрович <br/>
    e-mail: fedotov.daniil.kras@gmail.com <br/>
    степень: ИФБиБТ СФУ '16 Выпускник (магистр) <br/>
    Место работы: <br/>
    Лаборатории биогеохимии экосистем, инженер-исследователь. <br/>
</address>

<address>
    <br/>
    <img src="@("/Images/Employees/Slobodchikova.jpg")" width="80" height="60" alt="Image"/>
    Слободчикова Виктория Игоревна  <br/>
    телефон: +7 963 958-60-07 <br/>
    ВКонтакте: vk.com/id14767858 <br/>
    Образование: Сибирский федеральный университет, физика (специалитет), 2012 г.; <br/>
    Красноярский государственный педагогический университет, Переводчик в сфере профессиональной коммуникации. Английский язык, 2013 г. <br/>
    Место работы: <br/>
    Лаборатории биогеохимии экосистем, инженер-исследователь. <br/>
</address>

<address>
    <br/>
    <img src="@("/Images/Employees/achikolova.jpg")" width="60" height="70" alt="Image"/>
    Ачиколова Юлия Сергеевна <br/>
    телефон: +7 923 784-31-81 <br/>
    Образование
    Сибирский государственный технологический университет, инженер окружающей среды и устройство ландшафта, 2011 г.
    <br/>
    Красноярский государственный педагогический университет, Переводчик в сфере профессиональной коммуникации. Английский язык, 2013 г. <br/>
    Место работы: <br/>
    Лаборатории биогеохимии экосистем, инженер-исследователь. <br/>
</address>

<address>
    <br />
    <img src="@("/Images/Employees/Komarova.jpg")" width="60" height="70" alt="Image" />
    Ольга Александровна Комарова  <br />
    Место работы: <br />
    Лаборатории биогеохимии экосистем, инженер-исследователь. <br />
</address>