@{
    ViewBag.Title = "Контакты";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="row contact">
    <div class="col-md-4 contact-center">
        <img src="@("/Images/Employees/Sviderskaya.jpg")" height="250" alt="Image" />
    </div>
    <div class="col-md-8">
        <h2 class="contact-name">Свидерская Ирина Викторовна</h2>
        <h4>Кандидат биологических наук</h4>
        <p class="contact-title">Место работы:</p> 
        <p> Институт фундаментальной биологии и биотехнологии, заместитель директора;<br />
        Кафедра биофизики, доцент</p>
        <p class="contact-title"> Контакты </p>
        <p>e-mail: ISviderskaya@sfu-kras.ru<br />
        телефон: +7 (391) 206-21-65, телефон: +7 (391) 206-23-07<br />
        адрес: пр. Свободный, 79, корпус № 3, ауд. 32-13</p>
    </div>
</div>

<div class="row contact">
    <div class="col-md-4 contact-center">
        <img src="@("/Images/Employees/Fedotov.jpg")" height="250" alt="Image" />
    </div>
    <div class="col-md-8" >
        <h2 class="contact-name">Федотов Даниил Александрович</h2>
        <h4>ИФБиБТ СФУ '16 Выпускник (магистр)</h4>
        <p class="contact-title">Место работы:</p>
        <p>
            Лаборатории биогеохимии экосистем, инженер-исследователь
        </p>
        <p class="contact-title"> Контакты </p>
        <p>
            e-mail: fedotov.daniil.kras@gmail.com
        </p>
    </div>
</div>

<div class="row contact">
    <div class="col-md-4 contact-center">
        <img src="@("/Images/Employees/Slobodchikova2.jpg")" height="250" alt="Image" />
    </div>
    <div class="col-md-8">
        <h2 class="contact-name">Слободчикова Виктория Игоревна</h2>
        <h4>Сибирский федеральный университет, физика (специалитет), 2012 г</h4>
        <p class="contact-title">Место работы:</p>
        <p>
            Лаборатории биогеохимии экосистем, инженер-исследователь
        </p>
        <p class="contact-title"> Контакты </p>
        <p>
            телефон: +7 963 958-60-07 <br />
            ВКонтакте: vk.com/id14767858 <br />
        </p>
    </div>
</div>

<div class="row contact">
    <div class="col-md-4 contact-center">
        <img src="@("/Images/Employees/achikolova.jpg")" height="250" alt="Image" />
    </div>
    <div class="col-md-8">
        <h2 class="contact-name"> Ачиколова Юлия Сергеевна</h2>
        <h4>Сибирский государственный технологический университет, инженер окружающей среды и устройство ландшафта, 2011 г</h4>
        <p class="contact-title">Место работы:</p>
        <p>
            Лаборатории биогеохимии экосистем, инженер-исследователь
        </p>
        <p class="contact-title"> Контакты </p>
        <p>
            телефон: +7 923 784-31-81
        </p>
    </div>
</div>

<div class="row contact">
    <div class="col-md-4 contact-center">
        <img src="@("/Images/Employees/Komarova.jpg")" height="250" alt="Image" />
    </div>
    <div class="col-md-8">
        <h2 class="contact-name"> Ольга Александровна Комарова</h2>
        <h4></h4>
        <p class="contact-title">Место работы:</p>
        <p>
            Лаборатории биогеохимии экосистем, инженер-исследователь
        </p>
        <p class="contact-title"> Контакты </p>
        <p>
        </p>
    </div>
</div>

